/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-sena);
    background: linear-gradient(135deg, #e6f5f1, #d3f3e2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../Img/imagen.jpg');
    background-size: cover;
    background-position: center;
}

/* Contenedor principal */
.registro-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 420px;
    animation: fadeInUp 0.8s ease-out forwards;
    opacity: 0;
    transform: translateY(50px);
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilos generales de los campos */
label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    color: #0c4b33;
    font-size: 15px;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    transition: all 0.3s ease;
}

input:focus,
select:focus {
    border-color: #0c4b33;
    box-shadow: 0 0 8px rgba(11, 72, 50, 0.2);
    outline: none;
}

input::placeholder {
    color: #aaa;
}

/* Botón */
.btn-siguiente {
    width: 100%;
    padding: 14px;
    background-color: var(--Sena-Azul);

    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-siguiente:hover {
    background-color: #2cc288;
    transform: translateY(-2px);
}

.btn-volver {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    background-color: var(--Sena-Azul);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-volver:hover {
    background-color: #2cc288;
    transform: translateY(-2px);
}

/* Responsivo */
@media (max-width: 480px) {
    .registro-container {
        padding: 30px 20px;
    }
}