* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: var(--font-sena);
  background-color: #fff;
}

.header {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}

.menu {
  font-size: 28px;
  cursor: pointer;
  margin-right: 15px;
}

.logo {
  color:var(--Sena-Azul);
  font-size: 36px;
  font-weight: bold;
  margin: 0 auto;
}

.formulario {
  width: 1750px;
  margin: 30px auto;
  height: 600px;
  background-color:rgb(144, 216, 224);
  padding: 50px 50px 50px 50px;
  border-radius: 8px;
  color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}


.fila {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.campo {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 15px;
}

.campo label {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.campo input,
.campo textarea {
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  outline:none;
  font-size: 14px;
}

.campo-check {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.campo-check input {
  margin-right: 8px;
}

.acciones {
  text-align: center;
}

.btn-enviar {
  background-color:var(--Sena-Azul);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.btn-enviar:hover {
  background-color: #417bbd;
}
