* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: var(--font-sena);
  background-color: #fff;
}

/* HEADER */
.header {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.menu {
  font-size: 28px;
  cursor: pointer;
  margin-right: 15px;
}

.logo {
  color: var(--Sena-Azul);
  font-size: 36px;
  font-weight: bold;
  margin: 0 auto;
}

/* FORMULARIO */
.formulario {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto;
  background-color: rgb(144, 216, 224);
  padding: 40px;
  border-radius: 12px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* FILAS */
.fila {
  display: flex;
  gap: 20px;
}

/* CAMPOS */
.campo {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.campo label {
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.campo input,
.campo textarea {
  padding: 10px 14px;
  border: none;
  border-radius: 12px;
  outline: none;
  font-size: 14px;
}

textarea {
  resize: none;
}


/* CHECKBOX */
.campo-check {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* BOTÓN */
.acciones {
  text-align: center;
}

.btn-enviar {
  background-color: var(--Sena-Azul);
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.btn-enviar:hover {
  background-color: #417bbd;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .fila {
    flex-direction: column;
  }
}
