.container {
    padding: 30px;
}

h2 {
    margin-bottom: 20px;
    color: var(--color-verde);
    text-align: center;
}

.tabla-tests {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

.tabla-tests th {
    background: var(--color-verde);
    color: white;
    padding: 12px;
}

.tabla-tests td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.tabla-tests tr:hover {
    background: #f3fff5;
}

.btn-ir {
    background: var(--color-verde);
    padding: 6px 12px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
}

.btn-ir:hover {
    background: #0d7f3c;
}