:root {
  --Sena-verde: #458a1d;
  --Sena-Azul: #00909E;
  --Sena-Verde-Hover: #76dc85;
  --Sena-Azul-Hover: #76b8dc;
  --Sena-Contraste: #000;
  --Sena-Blanco: #fffdfd;
  --transparencia: rgba(0, 0, 0, 0.6);
  --font-sena: 'Sena', sans-serif;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Sena';
  src: url('/fonts/WOFF2/VictorMono-Bold.woff2') format('woff2'),
    url('/fonts/WOFF/VictorMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--font-sena);
  background-color: #f9f9f9;
  overflow-x: hidden;
  position: relative;
}

#Notificaciones {
  width: 700px;
  height: 400px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 10000;
}

